@font-face {
    font-family: "Fuente";
    src: url("assets/fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Fuente2";
    src: url("assets/fonts/Roboto-Regular.ttf");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Fuente2", Arial, sans-serif;
    font-size: 14px;
  }

  body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(54, 56, 77, 1);
  }

  main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul{
    list-style-image: url("assets/images/icon-list.svg");
    margin-right: 18px;
  }

  ul li {
    padding: 5px 0; /* Esto agregará un espacio de 10px arriba y abajo dentro de cada elemento de la lista */
  }
  
  
.container1{
    display: grid;
    grid-template-columns: 450px 382px;
    justify-content: center;
    gap: 20px;
    height: 622px;
    width: 906px;
    background-color: white;
    border-radius: 25px;
}

.conteinerActicle{
    margin-top: 90px;
    margin-bottom: 95px;
    margin-left: 55px;
    margin-right: 37px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container1Img{
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    background-image: url("assets/images/illustration-sign-up-desktop.svg");
}

h1{
    font-size: 55px;
    font-family: "Fuente", Arial, sans-serif;
    color: rgba(35, 39, 66, 1);
}

.subText{
    font-size: 14px;
}

.submitform{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.boton{
    font-family: "Fuente", Arial, sans-serif;
    background-color: rgba(35, 39, 66, 1);
    color: white;
}

.input{
    height: 50px; border-radius:8px;
    border-color: rgba(222, 222, 222, 1)

}
